<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title%}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="navigation">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'home' %}">My List</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'create_receipt' %}">Create a Receipt</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'category_list' %}">My Categories</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'accounts_list' %}">My Accounts</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'create_category' %}">Create a Category</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'create_account' %}">Create an Account</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{% url 'signup' %}">Signup</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>
