{% extends 'base.html' %}

{% block title %}Login! - Expenses{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a class="return" href="{% url 'home' %}">Main page</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>Login</h1>
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Login</button>
            </form>
        </div>
    </main>
{% endblock content %}