{% extends 'base.html' %}

{% block title %}Categories{% endblock title %}

{% block content %}
    <main>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in list_categories %}
                <tr>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.receipts.all|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}